# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

# Build outputs
dist
build
coverage
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo

# Local debug logs
debug.log

# Env
.env
.env.local
.env.*.local

# Logs
logs
*.log

# Editor
.vscode
.idea
.DS_Store

# Docker
*.pid

# Local dev certificates
certs/dev
