node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# TS incremental build info (if generated inside backend later)
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo

# Local debug logs
debug.log
